body {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.lines {
    position: absolute;
    height: 100vh;
    background-color: white;
    width: 100vw;

}

.line {
    position: absolute;
    width: 1px;
    height: 100vh;
    left: 50%;
    background: rgba(50, 50, 50, 0.1);
    overflow: hidden;

}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100vh;
    top: -50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ADD8E6 75%, #ADD8E6 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);

}

.line:nth-child(1) {
    margin-left: -25%;

}

.line:nth-child(1)::after {
    animation-delay: 2s;

}

.line:nth-child(3) {
    margin-left: 25%;

}

.line:nth-child(3)::after {
    animation-delay: 2.5s;

}

#nameheading {
    position: absolute;
    font-family: Didot, serif;
    top: 35px;
    left: 450px;
    user-select: none;
    color: black;
}

#namecontainer {
    position: absolute;
    top: 120px;
    left: 525px;
    width: 25%;
}

#nameinput {
    position: relative;
    font-family: Didot, serif;
    cursor: default !important;
}

#respondheading {
    position: absolute;
    font-family: Didot, serif;
    top: 225px;
    left: 450px;
    user-select: none;
    color: black;
}

#phonenumbercontainer {
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 300px;
    top: 310px;
    left: 960px;
    background-color: #5CA4EA;
    text-align: center;
}

#phonenumbercontainerwidth {
    position: relative;
    width: 75%;
    display: inline-block;
}

#emailcontainer {
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 300px;
    top: 310px;
    left: 20%;
    background-color: #5CA4EA;
    text-align: center;
}

#emailcontainerwidth {
    position: relative;
    width: 75%;
    display: inline-block;
}

#myemail {
    position: relative;
    font-size: 20px;
    display: inline-block;
    color: black;
    font-family: Didot, serif;
    top: 90px;
}

#emailinputlabel {
    position: relative;
    font-size: 23px;
    font-family: Didot, serif;
    padding-top: 20px;
    display: inline-block;
    padding-bottom: 25px;
    user-select: none;
    color: black;
}

#emailinput {
    position: relative;
    font-family: Didot, serif;
    cursor: default !important;
}

#phonenumberinputlabel {
    position: relative;
    font-size: 23px;
    font-family: Didot, serif;
    padding-top: 20px;
    display: inline-block;
    user-select: none;
    padding-bottom: 25px;
    color: black;
}

#phonenumberinput {
    position: relative;
    font-family: Didot, serif;
    cursor: default !important;
}

#helpheading {
    position: absolute;
    font-family: Didot, serif;
    top: 700px;
    left: 450px;
    user-select: none;
    color: black;
}

#helpcontainer {
    position: absolute;
    left: 325px;
    top: 800px;
    width: 55%;
    height: 250px;
    display: inline-block;
}

#helpcontainerwidth{
    position: relative;
    width: 100%;
    display: inline-block;
}

#helpinput {
    resize: none;
    position: relative;
    font-family: Didot, serif;
    cursor: default !important;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: blue;
    stroke-dasharray: 80 620;
    stroke-dashoffset: 80;
    transition: 1s ease-in-out;
    animation: svgTransition 7s linear infinite;
    animation-delay: 2s;
    z-index: 2;
    overflow: hidden;
    pointer-events: none;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.filebuttoncontainer {
    width: 219px;
    border: 2px solid;
    color: lightgray;
    position: absolute;
    bottom: 57px;
    right: 165px;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
    box-sizing: border-box;
    cursor: default !important;
}

.fileinputlabel {
    z-index: 1;
    display: inline-block;
    padding: 15px 65px;
    background-color: white;
    color: #5CA4EA;
    position: relative;
    cursor: default !important;
}

.fileinput {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: default !important;
}

.backhomecontainer {
    width: 219px;
    border: 2px solid;
    color: lightgray;
    position: absolute;
    top: 30px;
    left: 65px;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
    box-sizing: border-box;
    cursor: default !important;
}

.backhomehide {
    z-index: 1;
    display: inline-block;
    padding: 15px 55px;
    background-color: white;
    color: #5CA4EA;
    position: relative;
    cursor: default !important;
}

.backhomeclick {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: default !important;
}

.submitbuttoncontainer {
    width: 219px;
    border: 2px solid;
    color: lightgray;
    position: absolute;
    bottom: 140px;
    right: 165px;
    overflow: hidden;
    display: inline-block;
    z-index: 1;
    box-sizing: border-box;
    cursor: default !important;
}

.submitlabel {
    z-index: 1;
    display: inline-block;
    padding: 15px 90px;
    background-color: white;
    color: #5CA4EA;
    position: relative;
    cursor: default !important;
}

.formsubmit {
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: default !important;
}

.filename {
    margin-top: 10px;
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}

@keyframes svgTransition {
    0% {
        stroke-dashoffset: 80;
    }
    100% {
        stroke-dashoffset: -620;
    }
}
