body {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.lines {
    position: absolute;
    height: 100vh;
    background-color: black;
    width: 100vw;
    /*z-index: 1;*/
}

.line {
    position: absolute;
    width: 1px;
    height: 100vh;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    /*z-index: 1;*/
}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100vh;
    top: -50%;
    background: linear-gradient(to bottom, rgba(134, 183, 254, 0) 0%, #86b7fe 75%, #86b7fe 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    /*z-index: 1;*/
}

.line:nth-child(1) {
    margin-left: -25%;
    /*z-index: 1;*/
}

.line:nth-child(1)::after {
    animation-delay: 2s;
    /*z-index: 1;*/
}

.line:nth-child(3) {
    margin-left: 25%;
    /*z-index: 1;*/
}

.line:nth-child(3)::after {
    animation-delay: 2.5s;
    /*z-index: 1;*/
}


@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}


#nameheading{
    position: absolute;
    font-family: Didot, serif;
    top: 80px;
    left: 450px;
    user-select: none;
    color: white;
}

#namecontainer{
    position: absolute;
    top: 150px;
    left: 325px;
    width: 25%;
}

#nameinput{
    position: absolute;
    font-family: Didot, serif;
}

#respondheading{
    position: absolute;
    font-family: Didot, serif;
    top: 225px;
    margin-bottom: 255px;
    margin-left: 40%;
    user-select: none;
    color: white;
}

#phonenumbercontainer{
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 300px;
    top: 300px;
    left: 960px;
    background-color: coral;
    border-radius: 25px;
    text-align: center;
    border-width: 20px;
}

#phonenumbercontainerwidth{
    position: absolute;
    width: 75%;
    display: inline-block;
}

#emailcontainer{
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 300px;
    top: 300px;
    left: 20%;
    background-color: coral;
    border-radius: 25px;
    text-align: center;
    border-width: 10px;
}

#emailcontainerwidth{
    position: absolute;
    width: 75%;
    display: inline-block;
}

#myemail{
    position: absolute;
    font-size: 20px;
    display:block;
    color: white;
    font-family: Didot, serif;
    margin-top: 30px;
}

#emailinputlabel{
    position: absolute;
    font-size: 23px;
    font-family: Didot, serif;
    padding-top: 20px;
    display: inline-block;
    user-select: none;
    padding-bottom: 25px;
    color: white;
}

#emailinput{
    position: absolute;
    font-family: Didot, serif;
    outline:none;
}

#phonenumberinputlabel{
    position: absolute;
    font-size: 23px;
    font-family: Didot, serif;
    padding-top: 20px;
    display: inline-block;
    user-select: none;
    padding-bottom: 25px;
    color: white;
}

#phonenumberinput{
    position: absolute;
    font-family: Didot, serif;
}

#helpheading {
    position: absolute;
    font-family: Didot, serif;
    top: 700px;
    left: 40%;
    user-select: none;
    color: white;
}

#helpcontainer{
    position: absolute;
    left: 37%;
    top: 800px;
    width: 25%;
    display: inline-block;
}

#helpinput{
    position: absolute;
    font-family: Didot, serif;
}
