body {
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.lines {
    position: absolute;
    height: 100vh;
    background-color: white;
    width: 100vw;

}

.line {
    position: absolute;
    width: 1px;
    height: 100vh;
    left: 50%;
    background: rgba(50, 50, 50, 0.1);
    overflow: hidden;

}

.line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100vh;
    top: -50%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ADD8E6 75%, #ADD8E6 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);

}

.line:nth-child(1) {
    margin-left: -25%;

}

.line:nth-child(1)::after {
    animation-delay: 2s;

}

.line:nth-child(3) {
    margin-left: 25%;

}

.line:nth-child(3)::after {
    animation-delay: 2.5s;

}

#nameheading {
    position: absolute;
    font-family: Didot, serif;
    top: 40px;
    left: 450px;
    user-select: none;
    color: black;
}

#namecontainer {
    position: absolute;
    top: 110px;
    left: 325px;
    width: 25%;
}

#nameinput {
    position: relative;
    font-family: Didot, serif;
}

#respondheading {
    position: absolute;
    font-family: Didot, serif;
    top: 225px;
    left: 450px;
    user-select: none;
    color: black;
}

#phonenumbercontainer {
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 300px;
    top: 310px;
    left: 960px;
    background-color: coral;
    border-radius: 25px;
    text-align: center;
}

#phonenumbercontainerwidth {
    position: relative;
    width: 75%;
    display: inline-block;
}

#emailcontainer {
    position: absolute;
    display: inline-block;
    width: 25%;
    height: 300px;
    top: 310px;
    left: 20%;
    background-color: coral;
    border-radius: 25px;
    text-align: center;
}

#emailcontainerwidth {
    position: relative;
    width: 75%;
    display: inline-block;
}

#myemail {
    position: relative;
    font-size: 20px;
    display: inline-block;
    color: black;
    font-family: Didot, serif;
    top: 90px;
}

#emailinputlabel {
    position: relative;
    font-size: 23px;
    font-family: Didot, serif;
    padding-top: 20px;
    display: inline-block;
    padding-bottom: 25px;
    user-select: none;
    color: black;
}

#emailinput {
    position: relative;
    font-family: Didot, serif;
}

#phonenumberinputlabel {
    position: relative;
    font-size: 23px;
    font-family: Didot, serif;
    padding-top: 20px;
    display: inline-block;
    user-select: none;
    padding-bottom: 25px;
    color: black;
}

#phonenumberinput {
    position: relative;
    font-family: Didot, serif;
}

#helpheading {
    position: absolute;
    font-family: Didot, serif;
    top: 700px;
    left: 450px;
    user-select: none;
    color: black;
}

#helpcontainer {
    position: absolute;
    left: 325px;
    top: 800px;
    width: 45%;
    height: 250px;
    display: inline-block;
}

#helpcontainerwidth{
    position: relative;
    width: 50%;
    display: inline-block;
    height: 100%;
}


#helpinput {
    position: relative;
    font-family: Didot, serif;
}

.center {
    width: 180px;
    height: 60px;
    position: absolute;
}

.btn {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: blue;
    border: 2px solid #91C9FF;
    outline: none;
    transition: 1s ease-in-out;
    animation: btnTransition 3s linear infinite;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: blue;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}

.btn svg {
    animation: svgTransition 3s linear infinite;
}

.btn span {
    color: black;
    font-size: 18px;
    font-weight: 100;
}

@keyframes svgTransition {
    0% {
        stroke-dashoffset: 150;
    }
    100% {
        stroke-dashoffset: -480;
    }
}

@keyframes drop {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}
