/*#nameheading{
    font-family: Didot, serif;
    margin-top: 80px;
    margin-left: 200px;
    user-select: none;
    color: Black;
}

#namecontainer{
    margin-top: 30px;
    margin-left: 325px;
}

#nameinput{
    width: 25%;
    font-family: Didot, serif;
    box-shadow: 0px 0px 15px 10px gold;
    height: 35px;
    border-radius: 10px;
    outline:none;
}

#respondheading{
    font-family: Didot, serif;
    margin-top: 55px;
    margin-bottom: 55px;
    margin-left: 40%;
    user-select: none;
    color: Black;
}

#phonenumbercontainer{
    display: inline-block;
    width: 25%;
    height: 300px;
    margin-left: 60px;
    background-color: coral;
    border-radius: 25px;
    box-shadow: 0px 0px 15px 10px gold;
    text-align: center;
    border-width: 20px;
}

#phonenumbercontainerwidth{
    width: 75%;
    display: inline-block;
}

#emailcontainer{
    display: inline-block;
    width: 25%;
    height: 300px;
    margin-left: 20%;
    background-color: coral;
    border-radius: 25px;
    text-align: center;
    border-width: 10px;
    box-shadow: 0px 0px 15px 10px gold
}

#emailcontainerwidth{
    width: 75%;
    display: inline-block;
}

#myemail{
    font-size: 20px;
    display:block;
    color: Black;
    font-family: Didot, serif;
    margin-top: 30px;
}

#emailinputlabel{
    font-size: 23px;
    font-family: Didot, serif;
    padding-top: 20px;
    display: inline-block;
    user-select: none;
    padding-bottom: 25px;
    color: Black;
}

#emailinput{
    font-family: Didot, serif;
    !*box-shadow: 0px 0px 15px 10px gold;*!
    outline:none;
}

#phonenumberinputlabel{
    font-size: 23px;
    font-family: Didot, serif;
    padding-top: 20px;
    display: inline-block;
    user-select: none;
    padding-bottom: 25px;
    color: white;
}

#phonenumberinput{
    font-family: Didot, serif;
    !*box-shadow: 0px 0px 15px 10px gold*!
    outline:none;
}

#helpheading {
    font-family: Didot, serif;
    margin-top: 100px;
    margin-left: 40%;
    user-select: none;
    color: Black;
}

#helpcontainer{
    width: 25%;
    display: inline-block;
}

#helpinput{
    font-family: Didot, serif;
    box-shadow: 0px 0px 15px 10px gold
}*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important
}

body {
    width: 100vw;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-color: black;
    /*margin: auto;*/
    width: 100vw;
}

#line1 {
    position: absolute;
    width: 2px;
    height: 100vh;
    top: 0;
    left: 25%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

#line2 {
    position: absolute;
    width: 2px;
    height: 100vh;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: drop 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

#line3 {
    position: absolute;
    width: 2px;
    height: 100vh;
    top: 0;
    left: 75%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    animation: down 7s 0s infinite;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    animation-delay: 2.5s;
}



@keyframes down {
    0% {
        top: -50%;
    }
    100% {
        top: 110%;
    }
}