body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

#landingcontainer1 {
    display: block;
    position: static;
    width: 100vw;
    height: 100vh;
}

#olson {
    font-size: 280px;
    animation: moveRight 1s linear forwards;
    animation-delay: 1s;
    text-align: center;
    right: 7%;
    position: absolute;
    font-family: Didot, serif;
    letter-spacing: -4px;
    z-index: 3;
    color: White;
    display: inline-block;
    padding-top: 41%;
    user-select: none;
}

#james {
    font-size: 280px;
    animation: moveLeft 1s linear forwards;
    animation-delay: 1s;
    text-align: center;
    position: absolute;
    left: 5%;
    font-family: Didot, serif;
    letter-spacing: -4px;
    z-index: 3;
    color: White;
    display: inline-block;
    padding-top: 41%;
    user-select: none;
}

#curtain {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
}

#covermovie {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    top: -10px;
}

#aboutme {
    display: block;
    width: 100vw;
    height: 100vh;
}

#aboutmetext {
    display: block;
    font-size: 30px;
    margin-left: 175px;
    padding-top: 120px;
    margin-right: 650px;
    line-height: 1.5;
    user-select: none;
}

ul {
    padding: 0;
    display: flex;
    position: relative;
    margin-top: 140px;
    margin-left: 180px;
    margin-right: 180px;
}

ul li {
    list-style: none;
    margin: 0 15px;
}

#linkedin {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #171515;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
}

#email {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #171515;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
}

#github {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #171515;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
}

#file {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background: #171515;
    border-radius: 50%;
    font-size: 30px;
    color: #666;
    transition: .5s;
}

#linkedin:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #d35400;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

#linkedin:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
}

#linkedin:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

#email:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #d35400;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

#email:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
}

#email:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

#github:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #d35400;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

#github:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
}

#github:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

#file:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #d35400;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
}

#file:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
}

#file:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
}

#homelinecontainer {
    width: 100vh;
    height: 200px;
}

#homeline {

}



@keyframes moveLeft {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(-.5%);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(.5%);
    }
    100% {
        transform: translateX(13%);
    }
}




