body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.text{
    width: 20px;
    color: black;
}

#landingcontainer1 {
    display: block;
    position: static;
    width: 100vh;
    height: 100vh;

}

#olson {
    font-size: 280px;
    animation: moveRight 1s linear forwards;
    animation-delay: 2s;
    text-align: center;
    right: 7%;
    position: absolute;
    font-family: Didot, serif;
    letter-spacing: -4px;
    z-index: 3;
    color: White;
    display: inline-block;
    padding-top: 41%;
}

#james {
    font-size: 280px;
    animation: moveLeft 1s linear forwards;
    animation-delay: 2s;
    text-align: center;
    position: absolute;
    left: 5%;
    font-family: Didot, serif;
    letter-spacing: -4px;
    z-index: 3;
    color: White;
    display: inline-block;
    padding-top: 41%;
}

#curtain {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: Coral;
}

#covermovie {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#aboutme {
   /*background-image: url('https://www.cgteam.com/wp-content/uploads/2018/11/Profile_avatar_placeholder_large.png');*/
    /*background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;*/
    display: block;
    position: static;
    width: 100vh;
    height: 100vh;
}

#aboutmetext {
    display: block;
    font-size: 30px;
    margin-left: 175px;
}

#emailicon{
    height: 35px;
    width: 40px;
}

#giticon{
    height: 35px;
    width: 40px;

}

#linkedinicon{
    height: 35px;
    width: 40px;
}

#resumeicon{
    height: 35px;
    width: 40px;
}


.aboutmetextspan{
    /*background-color:black;*/
    /*transition: ;*/
    /*width:;*/
    /*height:10px;*/
}

i {
    animation: iconsMoveRight 1s linear forwards;

}

@keyframes moveLeft {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(-.5%);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(.5%);
    }
    100% {
        transform: translateX(13%);
    }
}

@keyframes iconsMoveRight {
    0% {
        transform: translateX(0%);
    }
    10% {
        transform: translateX(.5%);
    }
    100% {
        transform: translateX(30%);
    }
}






