:root {
    --translucent-white: rgba(255, 255, 255, 0.8);
    --coral: #FF7F50;
}

body {
    margin: 0;
}

.child {
    display: inline-block;
    padding-top: 41%;
}

#olson {
    font-size: 280px;
    animation: moveRight 2s linear forwards;
    animation-delay: .5s;
    text-align: center;
    right: 7%;
    position: absolute;
    font-family: Didot, serif;
    letter-spacing: -4px;
    z-index: 3;
    color: white;
}

#james {
    font-size: 280px;
    animation: moveLeft 2s linear forwards;
    animation-delay: .5s;
    text-align: center;
    position: absolute;
    left: 5%;
    font-family: Didot, serif;
    letter-spacing: -4px;
    z-index: 3;
    color: white;
}

/*#curtain {
    position: absolute;
    opacity: 1;
    animation: fadeAwayBottom 5s ease-out!*linear*!;
    height: 100%;
    width: 100%;
    z-index: 3;

}*/

#covermovie {
    position: absolute;
    width: 100%;
    height: auto;
    top: -15px;
    z-index: 2;
}





.fadeawaybottom1 {
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--translucent-white) 0%, var(--coral) 100%);
    animation: fadeAwayFromBottom 10s ease-out infinite;}





@keyframes fadeAwayFromBottom {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*@keyframes moveLeft {
    0% {
        transform: translateX(0%);
    }
    10%{
        transform: translateX(-.5%);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0%);
    }
    10%{
        transform: translateX(.5%);
    }
    100%{
        transform: translateX(13%);
    }
}*/




/*
@keyframes fade {
    0% { opacity: 1; background-color:Coral;}
    50% { opacity: 1; background-color:Coral;}
    60% { opacity: 1;}
    100% { opacity: 0; background-color: transparent;}
}*/
