body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.child {
    display: inline-block;
    padding-top: 41%;
}

#olson {
    font-size: 280px;
    animation: moveRight 1s linear forwards;
    animation-delay: 2s;
    text-align: center;
    right: 7%;
    position: absolute;
    font-family: Didot, serif;
    letter-spacing: -4px;
    z-index: 3;
    color: white;
}

#james {
    font-size: 280px;
    animation: moveLeft 1s linear forwards;
    animation-delay: 2s;
    text-align: center;
    position: absolute;
    left: 5%;
    font-family: Didot, serif;
    letter-spacing: -4px;
    z-index: 3;
    color: white;
}

#curtain {
    position: absolute;
/*    opacity: 1;
    animation-delay: 2s;
    animation: fade 3s ease-out;*/
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color:Coral

}

#covermovie {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -15px;
    z-index: 2;
}

#hypobottom{
    position: relative;
    top: 2200px;
}

#aboutme{
    position: relative;
    top: 1100px;
    --thickness: 18px;
}

#aboutmetext {
    font-size: 30px;
    margin-left: 175px;
    width: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: darkgray;
    border-radius: 10px;
    text-align: center;
    background-position: center left;
    background-size: 100% var(--thickness);
    background-image: linear-gradient(to top, black, white);
    padding-bottom: var(--thickness);
}

#aboutmetext:onscroll {
    background-position: bottom left 20%;
    background-size: 100% calc(var(--thickness)*2);
}

/*@keyframes fade {
    0% { opacity: 1; background-color:Coral;}
    50% { opacity: 1; background-color:Coral;}
    100% { opacity: 0; background-color: transparent;}
}*/

@keyframes moveLeft {
    0% {
        transform: translateX(0%);
    }
    10%{
        transform: translateX(-.5%);
    }
    100% {
        transform: translateX(-10%);
    }
}

@keyframes moveRight {
    0% {
        transform: translateX(0%);
    }
    10%{
        transform: translateX(.5%);
    }
    100%{
        transform: translateX(13%);
    }
}





