<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test</title>
    <link rel="stylesheet" th:href="@{/CSS/Email.css}" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>
<form>
    <h1 id="nameheading">What can I call you?</h1>
    <div id="namecontainer">
        <div class="form-group">
            <input type="text" class="form-control"  id="nameinput"
                   placeholder="Ex. Mr. Smith">
        </div>
    </div>
    <h1 id="respondheading">How can I respond to you?</h1>
    <div id="emailcontainer">
        <div class="form-group" id="emailcontainerwidth">
            <label for="emailinput" id="emailinputlabel">Whats your email address?</label>
            <input type="email" id="emailinput" class="form-control" placeholder="Ex. johndoe36@yahoo.com">
            <span id = "myemail">My email: jamesolson377@gmail.com</span>
        </div>
    </div>
    <div id="phonenumbercontainer">
        <div class="form-group" id="phonenumbercontainerwidth">
            <label for="phonenumberinput" id="phonenumberinputlabel">Whats your telephone number?</label>
            <input type="text" id="phonenumberinput" class="form-control" placeholder="Ex. (555) 555-4800">
        </div>
    </div>
    <h1 id="helpheading">How may I help you?</h1>
    <div id="helpcontainer">
        <div class="form-group" id="helpcontainerwidth">
            <input id="helpinput" class="form-control">
        </div>
    </div>


<!--    <div>
        <div class="form-group">
            <label for="offerinput">Have an offer?</label>
            <input type="file" class="form-control-file" id="offerinput">
        </div>
    </div>-->
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>